<%- include ./part/header.ejs %>

	<h1>Welcome <%= userName %></h1>

	<div class="pics">
		<% reverseArray = images.reverse() %>
		<% reverseArray.forEach(image => { %>
		<% const ratingClass = dislikes.includes(image._id.toString()) ? 'active' : '' %>
		
			<div class="pic">
				<div>
					<img src="<%= image.image %>"/>
					<p>100</p>
				</div>
				<form method="POST" action="/main/<%= image._id %>/rating">
					<button type="submit" name="dislike" class="dislike <%= ratingClass %>">Dislike</button>
				</form>
			</div>
		
		<% }) %>
	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/bundle.js"></script>
<%- include ./part/footer.ejs %>
